<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="emailauth_content">
  <div class="top">
    <div class="topbox1"></div>
    <div class="topbox2"></div>
    <div class="topbox3"></div>
    <div class="sicon_box1"> </div>
    <div class="sicon_box2"> </div>
    <div class="sicon_box3"> </div>
    <div class="sicon_bar1"> </div>
    <div class="sicon_bar2"> </div>
    <div class="home_box1"> </div>
    <div class="home_box2"> </div>
    <div class="home_box3"> </div>
    <div class="home_bar1"> </div>
    <div class="home_bar2"> </div>
    <div class="ficon_box1"> </div>
    <div class="ficon_box2"> </div>
    <div class="ficon_box3"> </div>
    <div class="ficon_bar1"> </div>
    <div class="ficon_bar2"> </div>

    <div class="title" style = 'color: #020202;
         font-size: 230%;
         font-family: "DungGeunMo", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 40%;
    top: 53%;
    z-index: 19;'>이메인증페이지</div>
    <div class="topline1"> </div>
    <div class="topline2"> </div>
  </div>

  <div class="left_container">
    <div class="logo">

      {"　　　☆彡　｡∴｡　　　　･｡∴｡｡　☆彡 ｡　　｡∴｡｡☆　　☆彡　　　　" }
      <br />
      {"　　　　☆｡∴　　　｡｡　☆　　　･｡∴｡｡　☆　　　　*｡∴｡｡★　　" }
      <br />
      {"　　　*｡★　　　　∧__∧　☆｡　　･ﾟ　　　　　　☆｡∴　　　　" }
      <br />
      {"　★　　　｡∴　｡*( ｀Д´ )｡　　ﾟ　*당장 ｡　　　 ｡" }
      <br />
      {"　　　　☆　　｡｡(っ▄︻▇〓┳═ ･*　★　　이메일 ☆･ ｡" }
      <br />
      {"　　　･ﾟ*｡★　　/ ) ｡･　　･ﾟ｡　･ 　　 　　☆인증해 ☆･ ｡　　　　" }
      {"･ ｡･　　　　　( /￣∪｡*･ﾟ　*｡★　｡･*　　｡｡∴｡　　　　　　" }
      <br />
      {"　　　｡∴｡　☆　　｡　　　　　･｡∴｡｡　☆　　　　　ﾟ｡　☆彡｡･*･"}
      <br />
      {"　　　｡∴｡　　　　･｡∴｡｡　☆　　　 ｡　　　　☆｡∴｡☆　　☆彡　　*･ﾟ" }
    </div>

  </div>
  <div class="right_container">
    <div class="text_box1"></div>
    <div class="text_box2"></div>
    <div class="text_box3"></div>
    <div class="text_line1"></div>
    <div class="text_line2"></div>
    <div class="text_email">링크를 눌러 인증을 완료해주세요</div>
    <button class="url_btn">
      {"|　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　￣　|"}
      <br />
      {"|　　　   https://www.hansung.ac.kr/sites/hansung/index.do 　　　　　|"}
      <br />
      {"|　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　＿　|"}
    </button>
  </div>
</div>
</body>
</html>