<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.fcmMapper">
    <insert id="insertToken" parameterType="map" >
        INSERT INTO
            fcm_token(
                    `USER_ID`,
                    `TOKEN`,
                    `IS_USING`,
                    `LAST_SENDING`
        )
        VALUES (
                #{email},
                #{token},
                1,
                DATE_FORMAT(NOW(),'%Y-%m-%dT%H:%i:%s')
        )
    </insert>

    <select id="isTokenExist" parameterType="map" resultType="int">
        SELECT count(TOKEN)
        FROM fcm_token
        WHERE USER_ID = #{sender_id}
            AND
            TOKEN = #{token}
    </select>

    <select id="getToken" parameterType="map" resultType="com.codingquokka.bottle.vo.FcmTokenVO">
        SELECT *
        FROM fcm_token
        WHERE USER_ID = #{sender_id}
    </select>
</mapper>
