<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.userMapper">
	<!-- 로그인  -->
	<select id="login" parameterType="map" resultType="com.codingquokka.bottle.vo.UserVO">
		SELECT
		     EMAIL as email,
		     BELONG as belong,
			 CERTIFIED as certified,
			 UUID as uuid
		FROM
		    user
		WHERE
			EMAIL =  #{email}
		  AND
			PASSWORD= #{password}
		  AND
		    IS_USING = 1
	</select>

	<insert id="join" parameterType="map">
		INSERT INTO
		    user(
		         `EMAIL`,
		         `PASSWORD`,
		         `IS_CERTIFIED`,
		         `CNT_RECEIVED`,
		         `JOIN_DT`,
		         `RESTRICTION_DT`,
		         `BELONG`,
		         `UUID`,
		         `IS_USING` )
		VALUES (
		        #{email},
		        #{password},
		        'N',
		        '0',
		        DATE_FORMAT(NOW(),'%Y-%m-%d'),
		        DATE_FORMAT(NOW(),'%Y-%m-%d'),
		        #{belong},
		        #{uuid},
		        1 )
	</insert>

	<select id="checkEmail" parameterType="map" resultType="int">
		SELECT
		    COUNT(*)
		FROM
		    user
		WHERE
			EMAIL = #{email}
		  AND
		    IS_USING = 1
	</select>

	<update id="cert" parameterType="String">
		UPDATE user
		SET IS_CERTIFIED = 'Y'
		WHERE
		    UUID = #{uuid}
		  AND
		    IS_USING = 1
	</update>

	<update id="upCntReceived" parameterType="String">
		UPDATE user
		SET CNT_RECEIVED = CNT_RECEIVED + 1
		WHERE
			EMAIL = #{email}
		  AND
			IS_USING = 1
	</update>

	<select id="checkUser" parameterType="com.codingquokka.bottle.vo.UserVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			EMAIL = #{email}
		  	AND
		    uuid = #{uuid}
		  	AND
		    certified = 1
		  AND
			IS_USING = 1
	</select>

	<update id="changePassword" parameterType="map">
		UPDATE user
		SET PASSWORD = #{newPassword}
		WHERE
			EMAIL = #{EMAIL}
		  AND
			UUID = #{UUID}
		  AND
			PASSWORD = #{oldPassword}
		  AND
			IS_USING = 1
	</update>

	<select id="getUserInfo" parameterType="String" resultType="com.codingquokka.bottle.vo.UserVO">
		SELECT
		    EMAIL as email,
			CNT_RECEIVED as cntReceived,
			(
				SELECT count(sender_id)
			 	FROM bottle_letter
			 	WHERE sender_id = #{email}
			) as cntSent,
			DATEDIFF(now(), date(JOIN_DT)) as dDay
		FROM user
		WHERE EMAIL = #{email}
			AND
		    IS_USING = 1
	</select>

</mapper>
