<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.userMapper">
	<!-- 로그인  -->
	<select id="login" resultType="com.codingquokka.bottle.vo.UserVO">
		SELECT * FROM user WHERE USER_ID =#{userId} AND USER_PW=#{userPw}
	</select>

	<select id="loginTest" resultType="map">
		select *
		from user
		where user_id = 'user1@naver.com'
	</select>

	<insert id="insertTest">
		INSERT INTO user(`USER_ID`, `USER_PW`, `IS_CERTIFIED`, `CNT_RECEIVED`, `JOIN_DT`, `RESTRICTION_DT`, `BELONG`, `IS_USING`)
		VALUES ('test@test.com', 'password2', 'N', '0', '0', '0', '0', '0')
	</insert>

</mapper>
