<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.userMapper">
	<!-- 로그인  -->
	<select id="login" parameterType="map" resultType="map">
		SELECT * FROM user WHERE USER_ID = #{email} AND USER_PW=#{password}
	</select>

	<select id="loginTest" resultType="map">
		select *
		from user1
		where user_id = 'user1@naver.com'
	</select>

	<insert id="join" parameterType="map">
		INSERT INTO user(`USER_ID`, `USER_PW`, `IS_CERTIFIED`, `CNT_RECEIVED`, `JOIN_DT`, `RESTRICTION_DT`, `BELONG`, `UUID`, `IS_USING`)
		VALUES (#{email}, #{password}, 'N', '0',DATE_FORMAT(NOW(),'%Y-%m-%d'), DATE_FORMAT(NOW(),'%Y-%m-%d'), '0', #{uuid}, 1)
	</insert>

	<select id="checkEmail" parameterType="map" resultType="int">
		SELECT COUNT(*) from user where user_id = #{email}
	</select>

	<update id="cert" parameterType="String">
		UPDATE user
		SET IS_CERTIFIED = 'Y'
		WHERE UUID = #{uuid}
	</update>

</mapper>
